    @media(max-width: 1800px) {
    .container {
        max-width: 1550px;
    }
    .students__card {
        width: 460px;
        min-height: 470px;
    }
    .title {
        font-size: 40px;
    }
    .advantages__block_card-title {
        font-size: 19px;
        max-width: 280px;
        margin-top: 50px;
    }
    .advantages__block_card {
        max-width: 280px;
    } 
    .advantages__block {
        margin-top: 170px;
    }
    .advantages__block_card-img {
        width: 90px;
    }
    .students__card_description {
        font-size: 16px;
    }
    .universities__block_card {
        max-width: 350px;
    }
    .universities__block_card-description {
        font-size: 18px;
    } 
    .universities__block_card-title {
        font-size: 32px;
        max-width: 280px;
    }
    .universities__block_card-img {
        width: 60%;
    }
    .universities__block_card {
        min-height: 650px;
    }

}
@media(max-width: 1550px) {
    .container {
        max-width: 1400px;
    }
    
}